* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}


.firstPic {
  width: 100px;
  margin-right: 10px;
}

.preach {
  font-weight: bold;
}

.bookPic {
  width: 100px;
  border-radius: 50px;
}

.pageLinks {
  background-color: blue;
  float: inline-start;
  width: 120px;
}

.links{
  color: aliceblue;
  margin: auto;
  text-decoration: none;
}

.linkCaption {
  margin: auto;
}

.listCards {
  width: 100px;
}
