* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.firstPic {
  width: 100px;
  float: left;
  margin-right: 10px;
}

.preach {
  font-weight: bold;
}

em {
  font-style: normal;
  color: blue;
}

.synergyPic {
  width: 100px;
}
